body{
    background-color: black;
    color: orange;
    text-align: center;
}

.card {
    margin: 10px;
}

<<<<<<< HEAD
=======
body {
    margin: 0;
}

.navbar {
    background-color: black;
    margin: 0;
    padding: 0;

    .navbar-links {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;


        .navbar-link {
            color: white;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.3em;

            border: 2px solid transparent;
        }

        .navbar-link:hover {
            transition: 0.5s;
            border: 2px solid white;
        }
    }
}

/* game.html page. */
.card {
    background-color: rgb(255, 106, 0);
}

>>>>>>> 402b3f2863b6df0ce2d92aaf5dc63dcc06c05f50
.card-body {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-img-top {
    width: 250px;
    height: 250px;
}

.equipment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
<<<<<<< HEAD

.textbox {
    color: orange;
    margin: 20px;
}

img {
    width: 50%;
}
=======

>>>>>>> 402b3f2863b6df0ce2d92aaf5dc63dcc06c05f50