<<<<<<< HEAD
body{
    background-color: black;
    color: orange;
    text-align: center;
    
}

.card {
    margin: 10px;
}

=======
body {
    margin: 0;
}

.navbar {
    background-color: black;
    margin: 0;
    padding: 0;

    .navbar-links {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;


        .navbar-link {
            color: white;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.3em;

            border: 2px solid transparent;
        }

        .navbar-link:hover {
            transition: 0.5s;
            border: 2px solid white;
        }
    }
}

>>>>>>> b1e25801f720fdfc2fd6ac4d9c2a8bb0cf6f01c3
.card-body {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-img-top {
    width: 250px;
    height: 250px;
}

.equipment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}