body {
    margin: 0;
    background-color: black;
}

.navbar {
    background-color: black;
    margin: 0;
    padding: 0;

    .navbar-links {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;


        .navbar-link {
            color: white;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 5px;
            cursor: pointer;
            text-decoration: none;
            font-size: 1.3em;

            border: 2px solid transparent;
        }

        .navbar-link:hover {
            transition: 0.5s;
            border: 2px solid white;
        }
    }
}

.mainPage {
    background-image: url(pictures/mainBackground.gif);
    background-size: cover;
    height: 600px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .mainText {
        color: white;
        text-align: center;
        font-size: 9em;
        caret-color: transparent;
        cursor: default;
    }
}

.aboutUs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

    .aboutTitle {
        border: 2px solid white;
        width: 500px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5em;
        background-color: black;
        box-shadow: 0 0px 8px 2px rgba(255, 255, 255, 1);
        caret-color: transparent;
        cursor: default;
        
        transition: 0.5s;
        &:hover {
            transform: scale(1.1);
        }
    }

    .aboutText {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 2.5em;
        border: 1.5px solid white;
        width: 480px;
        height: 280px;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        box-shadow: 0 0px 8px 2px rgba(255, 255, 255, 1);
        caret-color: transparent;
        cursor: default;

        transition: 0.5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}