body {
    margin: 0;
}

.navbar {
    background-color: black;

    .navbar-links {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;


        .navbar-link {
            color: white;
            margin-top: 10px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 5px;
            cursor: pointer;
            text-decoration: none;

            border: 2px solid transparent;
        }

        .navbar-link:hover {
            transition: 0.5s;
            border: 2px solid white;
        }
    }
}